<!doctype html>
<html>

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Home | Failure Detector</title>
    <link rel="stylesheet" type="text/css" media="all"
        href="../static/rw_common/themes/Future/consolidated.css?rwcache=600564554" />

    <style>
        .green {
            border: solid greenyellow 5px
        }

        ._delete_red {
            border: solid red 5px
        }

        #align {
            border: solid green 5px
        }

        #photo {
            max-width: 100%;
        }

        #test_input_photo {
            background-color: #4CAF50;
            /* Green */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
        }
    </style>

    <script>
        function WaitDisplay() {
            target = document.getElementById("result");
            target.style.display = "none";
            target = document.getElementById("loading");
            target.style.display = "";
            setTimeout(function () { document.getElementById("upload").submit(); }, 100);
        }
    </script>

</head>

<body>

    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="http://127.0.0.1:5000/"><img src="../static/rw_common/images/future.png" width="583"
                    height="134" alt="Failure Detector" /> <span class="navbar-title">Failure Detector</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a href="http://127.0.0.1:5000/" rel="" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="blog/index.html" rel="" class="nav-link">Guides</a></li>
                    <li class="nav-item"><a href="photos/index.html" rel="" class="nav-link">Gallery</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <header class="hero" id="hero">
        <div class="hero-background"></div>
        <div class="hero-overlay"></div>
        <h1 class="hero-title">
            Failure Detector
            <em>For Thermal Images</em>
        </h1>
    </header>

    <div class="content">
        <section class="main" style="position: relative;">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 main">
                        <h1>{{}}</h1>
                        <h1 id="buildyourdreamwebsite">Upload thermal image for detection</h1>

                        {% from "formhelpers.html" import render_field %}

                        <div>
                            <form id="upload" method=post action={{ url_for( 'post') }} enctype="multipart/form-data">
                                <strong>{{ render_field(photo_form.input_photo) }}</strong>
                                <p><input id="input_photo" type="button" onclick="WaitDisplay();" value="Upload" style="width: 107px;"></p>
                            </form>
                        </div>

                        <hr>

                        <div id="result">
                            {% if result|length > 0 %}
                            <img class="{{ color }}" id="photo" src="{{ result }}" /> {% endif %}
                        </div>
                        <div id="loading" style="display:none">
                            <h2>Detecting failure...</h2>
                        </div>
			<div id="demo_img">
                        <p><img src="../static/rw_common/demo.jpg" class="mt-4 rounded" alt="Demo Test"/></p>
			</div>
                        
			<hr>

                        <h2 id="therapidweaveradvantage">Find technical details in References</h2>
                        <p>1. Tensorpack 2. Nvidia Jetson.</p>
                        <h2 id="therapidweaveradvantage">Check Detection History in Gallery</h2>
                        <p>show last ~8 images or so...</p>
                    </div>

                    <div class="col-sm-12 sidebar">
                        <h2>Gallery</h2>
                        Check prediction history in Gallery.
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active"><a href="index.html" rel=" " class="nav-link">Home</a></li>
                        <li class="nav-item"><a href="blog/index.html" rel=" " class="nav-link">Guides</a></li>
                        <li class="nav-item"><a href="photos/index.html" rel=" " class="nav-link">Gallery</a></li>
                    </ul>
                    &copy; 2020 IGNC - Telekom Innovation Laboratory
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../static/rw_common/themes/Future/js/main.js?rwcache=600564554"></script>
</body>

</html>
