<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />



    <title>Gallery | Failure Detector</title>
    <link rel="stylesheet" type="text/css" media="all" href="../rw_common/themes/Future/consolidated-2.css?rwcache=600564554" />



</head>

<!-- This page was created with RapidWeaver from Realmac Software. http://www.realmacsoftware.com -->

<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="http://localhost/"><img src="../rw_common/images/future.png" width="583" height="134" alt="Failure Detector" /> <span class="navbar-title">Failure Detector</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a href="../index.html" rel="" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="../blog/index.html" rel="" class="nav-link">Guides</a></li>
                    <li class="nav-item active"><a href="index.html" rel="" class="nav-link">Gallery</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <header class="hero" id="hero">
        <div class="hero-background"></div>
        <div class="hero-overlay"></div>
        <h1 class="hero-title">
            Failure Detector
            <em>For Thermal Images</em>
        </h1>
    </header>

    <div class="content">
        <section class="main" style="position: relative;">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 main">
                        <div class="album-title">History Gallery</div>
                        <div class="album-description">The last 8 detected thermal images.</div>

                        <div class="album-wrapper">
                            <!--Start album wrapper -->

                            <div class="thumbnail-wrap" style="width:411px; height:311px;">
                                <div class="thumbnail-frame" style="width:311px;">
                                    <a href="files/page2-1000-full.html"><img src="files/page2-1000-thumb.jpg" alt="christopher-gower-291240-unsplash.jpg" width="311" height="311" /></a>
                                    <p class="thumbnail-caption"></p>
                                </div>
                            </div>

                            <div class="thumbnail-wrap" style="width:311px; height:311px;">
                                <div class="thumbnail-frame" style="width:311px;">
                                    <a href="files/page2-1001-full.html"><img src="files/page2-1001-thumb.jpg" alt="drew-coffman-435402-unsplash.jpg" width="311" height="311" /></a>
                                    <p class="thumbnail-caption"></p>
                                </div>
                            </div>

                            <div class="thumbnail-wrap" style="width:311px; height:311px;">
                                <div class="thumbnail-frame" style="width:311px;">
                                    <a href="files/page2-1002-full.html"><img src="files/page2-1002-thumb.jpg" alt="eleven-x-517447-unsplash.jpg" width="311" height="311" /></a>
                                    <p class="thumbnail-caption"></p>
                                </div>
                            </div>

                            <div class="thumbnail-wrap" style="width:311px; height:311px;">
                                <div class="thumbnail-frame" style="width:311px;">
                                    <a href="files/page2-1003-full.html"><img src="files/page2-1003-thumb.jpg" alt="gabriel-beaudry-253365-unsplash.jpg" width="311" height="311" /></a>
                                    <p class="thumbnail-caption"> </p>
                                </div>
                            </div>

                            <div class="thumbnail-wrap" style="width:311px; height:311px;">
                                <div class="thumbnail-frame" style="width:311px;">
                                    <a href="files/page2-1004-full.html"><img src="files/page2-1004-thumb.jpg" alt="iswanto-arif-435716-unsplash.jpg" width="311" height="311" /></a>
                                    <p class="thumbnail-caption"></p>
                                </div>
                            </div>

                            <div class="thumbnail-wrap" style="width:311px; height:311px;">
                                <div class="thumbnail-frame" style="width:311px;">
                                    <a href="files/page2-1005-full.html"><img src="files/page2-1005-thumb.jpg" alt="grovemade-239370-unsplash.jpg" width="311" height="311" /></a>
                                    <p class="thumbnail-caption"> </p>
                                </div>
                            </div>

                            <div class="thumbnail-wrap" style="width:311px; height:311px;">
                                <div class="thumbnail-frame" style="width:311px;">
                                    <a href="files/page2-1006-full.html"><img src="files/page2-1006-thumb.jpg" alt="hugo-barbosa-447400-unsplash.jpg" width="311" height="311" /></a>
                                    <p class="thumbnail-caption"> </p>
                                </div>
                            </div>

                            <div class="thumbnail-wrap" style="width:311px; height:311px;">
                                <div class="thumbnail-frame" style="width:311px;">
                                    <a href="files/page2-1007-full.html"><img src="files/page2-1007-thumb.jpg" alt="julian-o-hayon-237297-unsplash.jpg" width="311" height="311" /></a>
                                    <p class="thumbnail-caption"> </p>
                                </div>
                            </div>

                        </div>
                        <!--End album wrapper -->

                    </div>

                    <div class="col-sm-12 sidebar">
                        <h2></h2>

                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a href="../index.html" rel="" class="nav-link">Home</a></li>
                        <li class="nav-item"><a href="../blog/index.html" rel="" class="nav-link">Guides</a></li>
                        <li class="nav-item active"><a href="index.html" rel="" class="nav-link">Gallery</a></li>
                    </ul>
                    &copy; 2020 IGNC - Telekom Innovation Laboratory
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../rw_common/themes/Future/js/main.js?rwcache=600564554"></script>
</body>

</html>